.MensComponent {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #000000;
  color: white;
}
td {
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button i {
  font-size: 1.2rem;
  color: #666;
}

button:hover i {
  color: #f51919;
}
